<blockquote class="twitter-tweet tw-align-center" data-theme="dark">
<a href= <%= "#{fanart.fanarturl}" %>></a>
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>