  <div class = "archive_card">
    <%= link_to "#{music.musicurl}",:onclick=>"window.open(this.href,'#{music.musicurl}', 'height=400, width=800');return false;" do %>
      <%= image_tag (music.musicimg) , class: :music_img %>
    <% end %>
    <p><%= music.musictitle %><br><%= music.musicauthor %></p>
  </div>