  <div class = "archive_card">
    <%= link_to "#{result.archiveurl}",:onclick=>"window.open(this.href,'#{result.archiveurl}', 'height=400, width=800');return false;" do %>
      <%= image_tag (result.archiveimg) , class: :music_img %>
    <% end %>
    <p><%= result.archivetitle %></p>
  </div>