<!DOCTYPE HTML>
<html>
	<head>
		<title>桃鈴ねね非公式ファンサイト</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">
			<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row">
							<div class="col-12">

								<!-- Portfolio -->
									<section>
										<header class="major">
											<h2>Archives アーカイブ一覧</h2>
										</header>
										<div class="row">
											<div class="col-4 col-6-medium col-12-small">
												<section class="box">
													<a href="#" class="image featured"><%= image_tag "https://i.ytimg.com/vi/alO4hTErWZA/hqdefault.jpg" %></a>
													<header>
														<h3>【スーパーマリオパーティー】🍑5期生バチボコパーティー🍑【#ねぽらぼ/桃鈴ねね】</h3>
													</header>
													<footer>
														<ul class="actions">
															<li><a href="#" class="button alt">視聴はこちらから</a></li>
														</ul>
													</footer>
												</section>
											</div>
											<div class="col-4 col-6-medium col-12-small">
												<section class="box">
													<a href="#" class="image featured"><%= image_tag "https://i.ytimg.com/vi/E8hCyNAJ4_Y/hqdefault.jpg" %></a>
													<header>
														<h3>【参加型APEX】🍑Date with Nene🍑【桃鈴ねね/ ホロライブ】</h3>
													</header>
													<footer>
														<ul class="actions">
															<li><a href="#" class="button alt">視聴はこちらから</a></li>
														</ul>
													</footer>
												</section>
											</div>
											<div class="col-4 col-6-medium col-12-small">
												<section class="box">
													<a href="#" class="image featured"><%= image_tag "https://i.ytimg.com/vi/F-tuFP_gdfc/hqdefault.jpg" %></a>
													<header>
														<h3>【Minecraft】🍑GO TO MESA（素材集め）🍑【桃鈴ねね/ ホロライブ】</h3>
													</header>
													<footer>
														<ul class="actions">
															<li><a href="#" class="button alt">視聴はこちらから</a></li>
														</ul>
													</footer>
												</section>
											</div>
										</div>
									</section>

							</div>
							<div class="col-12">

							</div>
						</div>
					</div>
				</section>
		</div>

		<!-- Scripts -->
	</body>
</html>