<!DOCTYPE html>
<html>
  <head>
    <title>桃鈴ねね非公式ファンサイト</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>
</html>
<%= yield %>